/**
 * Copied from tinymce/skins/content/default/content.css
 * Used by Essay, Instructions and Review Components
 */

.mce-content-body, #app-instructions, #review-text {
    font-family: Serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}
/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
    padding: 0.4rem;
}
/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-width"]) th,
table[border]:not([border="0"]):not([style*="border-width"]) td {
    border-width: 1px;
}
/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-style"]) th,
table[border]:not([border="0"]):not([style*="border-style"]) td {
    border-style: solid;
}
/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-color"]) th,
table[border]:not([border="0"]):not([style*="border-color"]) td {
    border-color: #ccc;
}
figure {
    display: table;
    margin: 1rem auto;
}
figure figcaption {
    color: #999;
    display: block;
    margin-top: 0.25rem;
    text-align: center;
}
hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
}
code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
}

